:root {
  --dark: #204a57;
  --light: #dacece;
  --primary: #75d9f7;
  --secondary: #f5e9e9;
}

body {
  background: var(--light);
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.calculator {
  width: 100%;
  max-width: 300px;
  background-color: var(--secondary);
  border-radius: 10px;
  overflow: hidden;
}

.display {
  padding: 20px;
  text-align: end;
  background-color: var(--dark);
  color: var(--light);
}

.display span {
  font-size: 20px;
}

.symbols {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
  padding: 5px;
}

button:nth-child(7) {
  grid-column: 3 / span 2;
}

button {
  padding: 10px;
  border: none;
  outline: none;
  background: var(--primary);
  cursor: pointer;
  border-radius: 5px;
  font-size: 20px;
}

button:hover {
  opacity: 0.8;
}
